body{
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

h1{
  color: rgb(248, 244, 10);
  text-align: center;
}

.main-play-area{
  width: 100vw;
  height: 100vh;
  background-image: url(./assets/background.png);
  background-size: cover;
}

.game-instructions{
  position: relative;
  color: white;
  left: 40vw;
  top: 0px;
}

.start-button{
  position: relative;
  color: white;
  top: 7rem;
  cursor: pointer;
}

.player{
  position: relative;
  height: 60px;
  width: 70px;
  left: 10px;
  top: 250px;
}

.laser{
  position: relative;
  width: 40px;
  height: 40px;
}

.alien{
  height: 60px;
  width: 70px;
  position: relative;
}

.alien-transition{
  opacity: 1;
  transition: opacity 1.5s ease-in-out;
}

.dead-alien{
  height: 60px;
  width: 70px;
  position: relative;
  opacity: 0;
}

.rainbow {
  text-align: center;
  text-decoration: underline;
  font-size: 32px;
  font-family: monospace;
  letter-spacing: 5px;
}
.rainbow_text_animated {
  background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 6s ease-in-out infinite;
  background-size: 400% 100%;
}

@keyframes rainbow_animation {
  0%,100% {
      background-position: 0 0;
  }

  50% {
      background-position: 100% 0;
  }
}